* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

//basic style for links

li {
  display: list-item;
  list-style: none;
}

li::marker {
  color: black;
}

a {
  color: $brand-color;
  text-decoration: none !important;
}
