.nav-menu {
  width: 0%;
  min-height: 120vh;
  background-color: #fcfcfc;
  position: fixed;
  z-index: 4;
  box-shadow: 0 0 40px #000;
  top: 0%;
  left: 0%;
  padding-top: 5%;
  overflow: hidden;
  white-space: nowrap;

  .nav-menu-items {
    padding: 0% !important;

    .MuiSvgIcon-root {
      font-size: 2em !important;
    }

    .navbar-toggle {
      .MuiSvgIcon-root {
        color: $colorPallete3;
        border: solid 2px $colorPallete3;
        border-radius: 50%;
        transition: all 0.4s;
        cursor: pointer;
        margin-bottom: 10px;
        margin-left: 2%;
      }
      .MuiSvgIcon-root:hover {
        transform: scale(1.1);
      }
    }

    li {
      margin-bottom: 10px;
      transition: all 0.4s;
      min-height: 40px;
      display: flex;
      align-items: center;
      border-bottom-right-radius: 20%;
      border-top-right-radius: 20%;
      padding-left: 2%;

      a {
        display: block;
        width: 100%;
        color: #000;
      }

      span {
        font-size: 1.2em;
        margin-left: 6px;
      }
    }

    li:hover {
      background: $colorPallete1;
    }
  }
}

.active {
  animation: opening 0.4s cubic-bezier(0.21, 0.55, 0.88, 1.08);
  width: 80%;
}
