.menu {
  width: 100%;
  background: $colorPallete1;

  .menuIcon {
    .MuiSvgIcon-root {
      font-size: 2.2em !important;
      color: $bluePallete;
      cursor: pointer;
      transition: all 0.6s;
      margin-bottom: 10px;
    }

    .MuiSvgIcon-root:hover {
      transform: scale(1.1);
    }
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0% !important;
      margin: 0% !important;

      li {
        width: 33.33%;
        text-align: center;

        a {
          width: 100%;
          display: block;
          transition: all 0.5s;
        }

        a:hover {
          background: #b18517cc;
        }

        .MuiSvgIcon-root {
          color: $bluePallete;
          font-size: 2.5em;
        }
      }

      li:last-child {
        margin-right: 0px !important;
      }
    }
  }
}

.nav-menu {
  width: 0%;
  min-height: 120vh;
  background-color: #fcfcfc;
  position: fixed;
  z-index: 4;
  box-shadow: 0 0 40px #000;
  top: 0%;
  left: 0%;
  padding-top: 5%;
  overflow: hidden;
  white-space: nowrap;

  .nav-menu-items {
    padding: 0% !important;

    .MuiSvgIcon-root {
      font-size: 2em !important;
    }

    .navbar-toggle {
      .MuiSvgIcon-root {
        color: $colorPallete3;
        border: solid 2px $colorPallete3;
        border-radius: 50%;
        transition: all 0.4s;
        cursor: pointer;
        margin-bottom: 10px;
        margin-left: 2%;
      }
      .MuiSvgIcon-root:hover {
        transform: scale(1.1);
      }
    }

    li {
      margin-bottom: 10px;
      transition: all 0.4s;
      min-height: 40px;
      display: flex;
      align-items: center;
      border-bottom-right-radius: 20%;
      border-top-right-radius: 20%;
      padding-left: 2%;

      a {
        display: block;
        width: 100%;
        color: #000;
      }

      span {
        font-size: 1.2em;
        margin-left: 6px;
      }
    }

    li:hover {
      background: $colorPallete1;
    }
  }
}

.active {
  animation: opening 0.4s cubic-bezier(0.21, 0.55, 0.88, 1.12);
  width: 80%;
}
