.landing-page {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, $colorPallete1 35%, $colorPallete2 35%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  main {
    width: 90%;
    min-height: 80vh;
    background: #e7e7e78f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    font-family: $text-font-stack;
    position: relative;

    .title {
      position: absolute;
      top: 2%;
      right: 2%;
    }

    h2 {
      margin: 0% !important;
    }

    p {
      margin: 0% !important;
      font-family: "Lato", sans-serif;
    }

    a {
      display: block;
      color: $colorPallete3;
    }

    .btn {
      width: 100px;
      height: 35px;
      font-size: 18px;
      border-radius: 4px;
      background: transparent;
      border: solid 2px $colorPallete3;
      transition: all 0.4s;
      cursor: pointer;
      margin-top: 10px;
      padding: 0% !important;
    }
    .btn:hover {
      transform: scale(1.04);
    }
  }

  img {
    display: none;
  }
}
