/// @type List
$text-font-stack: "Poppins", sans-serif !default;

/// @type Color
$colorPallete1: #ffc83a !default;

/// @type Color
$colorPallete2: #ffffff !default;

/// @type Color
$colorPallete3: #ff3838 !default;

/// @type Color
$brand-color: rgb(0, 0, 0) !default;

/// @type Color
$second-background-color: #232e3d !default;

/// @type Color
$link-color: #c8e1ff !default;

/// @type Color
$hover: #1f2936 !default;
