$primary-color: #ffffff;
$pallete-color-one: #ffc83a;
$pallete-color-two: #ff383888;
$pallete-color-three: #f8f8f885;

button {
  width: 90px;
  height: 30px;
  margin-top: 5px;
  background: #ff3838;
  color: $primary-color;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform all 0.3s;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    $pallete-color-one 35%,
    $primary-color 35%
  );

  .landing-page {
    height: 100vh;
    width: 100%;
    font-family: "Roboto", sans-serif;

    main {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      z-index: 2;

      .main-content {
        position: relative;
        width: 80%;
        height: 80%;
        margin: auto;
        background-color: $pallete-color-three;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5%;

        .title {
          position: absolute;
          top: 5%;
          right: 5%;
          color: black;
          font-size: 20px;
        }

        h2 {
          font-size: 28px;
          font-weight: bold;
          margin-bottom: 4px;
        }

        p {
          font-size: 13px;
        }
      }
    }
  }

  .register-section {
    width: 40%;
    min-width: 260px;
    max-width: 260px;
    min-height: 350px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f4f4f4;
    box-shadow: 0 1px 5px;
    border-radius: 5px;
  }

  .login-section {
    min-width: 250px;
    max-width: 250px;
    min-height: 300px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    box-shadow: 0 1px 5px;
    border-radius: 5px;
  }

  form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;

    label {
      width: 90%;
      text-align: left;
      margin-bottom: 2px;
    }

    input {
      width: 90%;
      height: 30px;
      border: none;
      background: #c9c9c9;
      border-radius: 5px;
      padding-left: 5px;
      outline: none;
    }

    .small-text {
      font-size: 12px;
      margin-top: 5px;
    }
  }
}

@import "./responsive.scss";
